<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunhua.mapper.UserMapper">
    <select id="findUserByMobile" resultType="com.yunhua.domain.User">
        SELECT
            id,
            mobile,
            del_flag,
            pwd,
            nick_name
        FROM
            chk_user_info
        WHERE
            mobile = #{mobile};
    </select>

    <select id="findAll" resultType="com.yunhua.domain.User">
        SELECT
            *
        FROM
            chk_user_info
    </select>

    <!--    注册-->
    <insert id="insertUser" parameterType="com.yunhua.domain.User">
		INSERT INTO chk_user_info
			( nick_name, pwd, mobile, del_flag)
		VALUES
			( #{nickName}, #{pwd}, #{mobile}, #{delFlag})
	</insert>

</mapper>