<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhua.mapper.ChkMerchantInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunhua.entity.ChkMerchantInfo">
        <id column="id" property="id" />
        <result column="merchant_name" property="merchantName" />
        <result column="pwd" property="pwd" />
        <result column="merchant_picture_url" property="merchantPictureUrl" />
        <result column="qualification_certificate" property="qualificationCertificate" />
        <result column="business_license" property="businessLicense" />
        <result column="license" property="license" />
        <result column="environment_url" property="environmentUrl" />
        <result column="bank" property="bank" />
        <result column="bank_amount" property="bankAmount" />
        <result column="bank_card_no" property="bankCardNo" />
        <result column="service_id" property="serviceId" />
        <result column="address" property="address" />
        <result column="mobile" property="mobile" />
        <result column="name" property="name" />
        <result column="card_no" property="cardNo" />
        <result column="work_time" property="workTime" />
        <result column="score" property="score" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creator_id" property="creatorId" />
    </resultMap>

</mapper>
