<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunhua.mapper.CarMapper">
    <!--    注册-->
    <insert id="insertCarInfo" parameterType="com.yunhua.domain.ChkUserCarInfo">
		INSERT INTO chk_user_carinfo
			( user_id, plate_no, plate_type, car_mileage, create_time, update_time)
		VALUES
			( #{userId}, #{plateNo}, #{plateType}, #{carMileage}, #{createTime}, #{updateTime})
	</insert>

    <!--根据用户id查找车主全部车辆信息	-->
	<select id="findAllCarInfoByUserId" resultType="com.yunhua.domain.ChkUserCarInfo">
        SELECT
			plate_no,
			plate_type,
			car_mileage
		FROM
			chk_user_carinfo
		WHERE
			user_id = #{userId};
    </select>

</mapper>